.Pokemon__styles {
  padding: 20px;
  margin-left:50px;
  margin-top: 50px;
  font-style: normal;
  font-weight: bolder;
  background-color: #ffa500;
  color: black;
  border-width:medium;
  box-sizing: content-box;
}


.list-group {
  border-radius: 0;
}
