.Pokemon__styles {
  display: inline-flex;
  padding: 20px;
  margin-left:50px;
  margin-top: 50px;
  font-style: normal;
  font-weight: bolder;
  background-color: #a1dbff;
  color: black;
  border-width:medium;
  border-style: dashed;
  box-sizing: content-box;
}
